<div class="control-label">
    {{#if description}}<i class="fa fa-fw fa-question-circle iad-popover" data-toggle="popover" data-trigger="click" data-content="{{description}}" data-container="body"></i>&nbsp;{{/if}}{{name}}
</div>
<div>
	<textarea class="form-control input-sm iad-control-textarea iad-control-text">{{value}}</textarea>
</div>