<div class="control-label">
    {{#if description}}<i class="fa fa-fw fa-question-circle iad-popover" data-toggle="popover" data-trigger="click" data-content="{{description}}" data-container="body"></i>&nbsp;{{/if}}{{name}}
</div>
<div>
	<button class="btn btn-sm btn-default iad-control-color-swatch" type="button" style="background-color:{{value}}">&nbsp;&nbsp;</button> 
</div>
