<select class="form-control input-sm iad-control-select">
    {{#each choices}}
        <option value="{{this.value}}" {{#ifEndsWith id 'font-family'}}style="font-family:{{this.value}};"{{/ifEndsWith}} {{#ifEqualTo this.value ../value}}selected="true"{{/ifEqualTo}}>{{this.label}}</option>
    {{/each}}
</select>