<div class="input-group">
	<input class="form-control input-sm iad-control-number iad-control-integer" type="text" value="{{value}}">
	<span class="input-group-btn">
		<button type="button" class="btn btn-sm btn-default iad-control-integer-minus">-</button>
		<button type="button" class="btn btn-sm btn-default iad-control-integer-plus">+</button>
	</span>
</div>
