<div class="control-label">
	{{name}}{{#if description}}<i class="fa fa-question-circle iad-popover" data-toggle="popover" data-trigger="click" data-content="{{description}}" data-container="body"></i>{{/if}}
</div>