<div {{#if align}}style="text-align:right"{{/if}}>
	<button type="button" {{#if action}}data-action="{{action}}"{{/if}} class="btn btn-sm btn-default iad-control-btn">{{#if icon}}<i class="{{icon}}"></i>&nbsp;&nbsp;{{/if}}{{name}}</button>
</div>
