<div class="form-group iad-form-group" data-control-id="{{id}}">
	<div class="iad-tooltip-control" data-toggle="tooltip" title="{{description}}">
		<textarea class="form-control input-sm iad-control-textarea iad-control-text">{{value}}</textarea>
	</div>
</div>