<div data-control-id="{{id}}" data-control-index="{{index}}" class="iad-control-group well well-sm iad-sortable">

	<div class="form-group iad-form-group" data-control-id="{{id}}">
		<div {{#if sortable}}class="iad-sort-handle"{{/if}}>
			{{#if sortable}}<i class="fa fa-fw fa-sort"></i>{{/if}}
			{{#if removeable}}<button type="button" {{#if action}}data-action="{{action}}"{{/if}} class="close iad-control-btn iad-tooltip-control" style="float:right" data-toggle="tooltip">&times;</button>{{/if}}
		</div>
	</div>

	{{#controls}} 
		{{#ifTextControl type}}{{> control.text}}{{/ifTextControl}}
		{{#ifEqualTo type 'textarea'}}{{> control.textarea}}{{/ifEqualTo}}
		{{#ifEqualTo type 'textarea-large'}}{{> control.textarealarge}}{{/ifEqualTo}}
		{{#ifEqualTo type 'label'}}{{> control.label}}{{/ifEqualTo}}
		{{#ifEqualTo type 'bold-label'}}{{> control.boldlabel}}{{/ifEqualTo}}
		{{#ifEqualTo type 'integer'}}{{> control.integer}}{{/ifEqualTo}}
		{{#ifEqualTo type 'float'}}{{> control.float}}{{/ifEqualTo}}
		{{#ifEqualTo type 'integer-counter'}}{{> control.integercounter}}{{/ifEqualTo}}
		{{#ifEqualTo type 'integer-select'}}{{> control.integerselect}}{{/ifEqualTo}}
		{{#ifEqualTo type 'float-counter'}}{{> control.floatcounter}}{{/ifEqualTo}}
		{{#ifEqualTo type 'boolean'}}{{> control.boolean}}{{/ifEqualTo}}
		{{#ifEqualTo type 'select'}}{{> control.select}}{{/ifEqualTo}}
		{{#ifEqualTo type 'colour'}}{{> control.colour}}{{/ifEqualTo}}
		{{#ifEqualTo type 'text'}}{{> control.text}}{{/ifEqualTo}}
		{{#ifEqualTo type 'range'}}{{> control.range}}{{/ifEqualTo}}
		{{#ifEqualTo type 'text-dropdown-replace'}}{{> control.textdropdownreplace}}{{/ifEqualTo}}
		{{#ifEqualTo type 'text-dropdown-append'}}{{> control.textdropdownappend}}{{/ifEqualTo}}
		{{#ifEqualTo type 'textarea-dropdown-append'}}{{> control.textareadropdownappend}}{{/ifEqualTo}}
		{{#ifEqualTo type 'separator'}}{{> control.separator}}{{/ifEqualTo}}
		{{#ifEqualTo type 'button'}}{{> control.button}}{{/ifEqualTo}}
	{{/controls}} 
</div>