@import "variables.less";
.iad-sidebar 
{ 
    display:none;
    overflow: hidden;
    position: absolute;
    top: 0px;
    bottom: 0px;
    background-color: #ffffff;
    left: calc(@sidebar-width * -1);
    width: @sidebar-width;
    border-right: 1px solid #e5e5e5;
}
.iad-sidebar-header 
{
    position: absolute;
    top: 0px;
    width: 100%;
    height:@sidebar-header-height;
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
}
.iad-sidebar-title 
{
    line-height:2.5;
}
.iad-sidebar-close 
{
    line-height:inherit;
}
.iad-sidebar-footer 
{
    text-align:center;
    position: absolute;
    bottom: 0px;
    width: 100%;
    height:@sidebar-footer-height;
    padding: 15px;
    border-top: 1px solid #e5e5e5;
}
.iad-sidebar-content 
{
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
    top: @sidebar-header-height;
    bottom: 0px;
    width: 100%;
    padding:15px;
}
.iad-sidebar-content-with-footer 
{
    top: @sidebar-header-height;
    bottom: @sidebar-footer-height;
}