html 
{
    box-sizing: border-box;
}

*, *:before, *:after 
{
    box-sizing: inherit;
}

body
{
    font-family: 'Open Sans', sans-serif;
    font-size:1rem;
    color:#444;
    overflow-x: hidden;
    margin: 0 auto;
    max-width:1000px;
    padding: 1rem; 
}

/* Flexbox defaults */
.flex-box
{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: row nowrap;
}

/* Section */
.section
{
    flex-flow: column nowrap;
    justify-content:center;
    align-items:stretch;
    padding: 2rem 0; 
}

/* Links */
a
{
    text-decoration: none;
    color:#99cc33;
}
a:hover
{
    text-decoration: underline;
}

/* header */
.header
{
    align-items:center;
}
.header > *
{
    margin: 1rem;
}
.logo
{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width:100px;
    padding-bottom:100%;
}
.title
{
    font-size:2rem;
}

/* Nav */
.nav
{
    justify-content: center;
    align-items:center;
}
.nav-link
{
    flex: 0 0 auto;
    margin: 0.5rem 1rem;
}
.nav-link-active
{
    color:#444;
}

/* List */
.list 
{
    flex: 1 1 auto;
    list-style: none;
}

/* Boxes */
.box
{
    align-items: flex-start;
    justify-content: center;
    font-size: 1rem;
    margin: 0.5rem;
}

/* Release */
.release-section 
{
    flex: 1 1 auto;
    justify-content:flex-start;
}
.release-section:not(:first-child)
{
    border-top: 1px solid #ccc;
}
.release-header 
{
    font-weight: bold;
    flex: 1 1 auto;
    justify-content:flex-start;
}

/* Badge */
.badge
{
    align-self:flex-start;
    flex:0 0 110px;
    text-transform: uppercase;
    font-size: 1rem;
    padding: 0.5rem;
    color:#fff;
    border-radius:3px;
}
.badge.improved
{
    background:#0366d6;
}
.badge.new
{
    background:#28a745;
}
.badge.fixed
{
    background:#0366d6;
}
.badge.removed
{
    background:#a72828;
}
.badge.version
{
    border:1px solid #99cc33;
    background:#99cc33;
    margin: 0.5rem 0 0.5rem 0.5rem;
    border-radius:3px 0 0 3px;
}
.badge.date
{
    border:1px solid #99cc33;
    color:#99cc33;
    background:#fff;
    margin: 0.5rem 0.5rem 0.5rem 0rem;
    border-radius:0 3px 3px 0;
}

/* Description */
.description
{
    margin-top: 1rem;
    flex:1;
    justify-content: flex-start;
}

/* Bug */
.bug
{
    margin-top: 1rem;
    flex:0 0 100px;
}

/* Download */
.download
{
    align-items: center;
    justify-content: center;
}
.download-button
{
    padding: 1rem;
    color:#99cc33;
    border-radius:3px;
    border: 1px solid #99cc33;;
}
.download-button:hover
{
    text-decoration: none;
    background-color:#99cc33;
    color:#fff;
    border-color:#79a523;
}

/* screenshot */
.screenshot
{
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

/* cards */
.cards
{
    flex-flow: row nowrap;
}
.card
{
    flex: 1;
    flex-flow: column nowrap;
    margin:10px;
}
.card-img
{
    align-items:center;
    justify-content: center;
}
.card-title
{
    align-items:center;
    justify-content: center;
}
