<!doctype html>
<html lang="en">
	<head>
        <!-- build:template
        <title><%= title %> - Help</title>
        /build -->

        <!-- build:template 
        <%= banner %> 
        /build -->
        
        <!-- build:template
        <meta name="description" content="<%= title %>">
        /build -->

        <!-- build:template
        <meta name="keywords" content="<%= keywords %>">
        /build -->

        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Prevent caching -->
        <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
        <meta http-equiv="Pragma" content="no-cache"/>
        <meta http-equiv="Expires" content="0"/>

        <!-- Import webfonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

        <!-- Styles -->
        <!-- build:remove --> 
            <link rel="stylesheet" type="text/css" href="./default.css"  />
        <!-- /build -->
        <!-- build:template 
            <link rel="stylesheet" type="text/css" href="../default.min.css?<%= version %>" />
        /build -->
	</head>
	<body>
        <!-- Header -->
        <header class="flex-box section header">

            <!-- Logo -->
            <!-- build:remove --> 
                <div><div class="logo" style="background-image:url('./ia.png')"></div></div>
            <!-- /build -->
            <!-- build:template 
                    <div><div class="logo" style="background-image:url('../ia.png')"></div></div>
            /build -->

            <!-- Nav -->
            <nav role="navigation" class="nav flex-box">   
                <!-- build:remove --> 
                    <a class="flex-box nav-link" href="./">Overview</a> 
                    <a class="flex-box nav-link" href="./release-notes.html">Release Notes</a>
                    <a class="flex-box nav-link nav-link-active" href="./help.html">Help</a>
                <!-- /build -->
                <!-- build:template 
                    <a class="flex-box nav-link" href="../">Overview</a> 
                    <a class="flex-box nav-link" href="../release-notes/">Release Notes</a>
                    <a class="flex-box nav-link nav-link-active" href="./">Help</a></a>
                /build -->
            </nav>

            <!-- Title -->
        </header>

        <!-- Main content -->
        <main class="main">

        </main>
	</body>
</html>