<!doctype html>
<html lang="en">
    <head>
        <!-- build:template
        <title><%= title %> - Overview</title>
        /build -->

        <!-- build:template 
        <%= banner %> 
        /build -->
        
        <!-- build:template
        <meta name="description" content="<%= title %>">
        /build -->

        <!-- build:template
        <meta name="keywords" content="<%= keywords %>">
        /build -->

        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Prevent caching -->
        <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
        <meta http-equiv="Pragma" content="no-cache"/>
        <meta http-equiv="Expires" content="0"/>

        <!-- Icon -->
        <link rel="icon" href="./ia.png">

        <!-- Import webfonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

        <!-- Styles -->
        <link rel="stylesheet" type="text/css" href="./default.css"  />
    </head>
    <body>
        <!-- Header -->
        <header class="flex-box section header">

            <!-- Logo -->
            <div><div class="logo" style="background-image:url('./ia.png')"></div></div>

            <!-- Nav -->
            <nav role="navigation" class="nav flex-box">  
                <!-- build:remove --> 
                    <a class="flex-box nav-link nav-link-active" href="./">Overview</a> 
                    <a class="flex-box nav-link" href="./release-notes.html">Release Notes</a>
                    <a class="flex-box nav-link" href="./help.html">Help</a>
                <!-- /build -->
                <!-- build:template 
                    <a class="flex-box nav-link nav-link-active" href="./">Overview</a> 
                    <a class="flex-box nav-link" href="./release-notes/">Release Notes</a>
                    <a class="flex-box nav-link" href="./help/">Help</a></a>
                /build -->
            </nav>

            <!-- Title -->
        </header>

        <!-- Main content -->
        <main class="main">
            <section class="flex-box section">
                The new InstantAtlas Designer            
            </section>
            <section class="flex-box section">
                Completely redesigned with Electron. Get a unified cross-platform experience that’s completely open source and ready to customize.
            </section>
            <section class="flex-box section">
                <div class="flex-box download">
                    <!-- build:remove --> 
                        <a class="download-button" href="./dist/InstantAtlas Designer Web Setup 0.0.47.exe" download="InstantAtlas Designer Web Setup 0.0.47.exe">Download for Windows</a>
                    <!-- /build -->
                    <!-- build:template 
                        <a class="download-button" href="<%= productName %> Web Setup <%= version %>.exe" download="<%= productName %> Web Setup <%= version %>.exe">Download for Windows v<%= version %></a>
                    /build -->
                </div>
            </section>
            <section class="flex-box section">
                <div class="flex-box">
                    <div><img src="screenshot.png" class="screenshot" /></div>
                </div>
            </section>
            <section class="flex-box section">
                Your Designer upgrade      
            </section>
            <section class="flex-box section">
                <div class="flex-box cards">
                    <div class="flex-box card">
                        <div class="flex-box card-img">test</div>
                        <div class="flex-box card-text">Updates and new features are made immediately available. Bugs are fixed, tested and released in hours.</div>
                    </div>
                    <div class="flex-box card">
                        <div class="flex-box card-img">test</div>
                        <div class="flex-box card-text">WYSIWYG, drag-and-drop, simple easy to use design and styling.</div>
                    </div>
                    <div class="flex-box card">
                        <div class="flex-box card-img">test</div>
                        <div class="flex-box card-text">Simplified interface with access to all the latest templates</div>
                    </div>
                </ul>
            </section>
            <section class="flex-box section">
                © 2017 Geowise, Ltd. All rights reserved.
            </section>
        </main>
    </body>
</html>