<!doctype html>
<html lang="en">
	<head>
        <!-- build:template
        <title><%= title %> - Release Notes</title>
        /build -->

        <!-- build:template 
        <%= banner %> 
        /build -->
        
        <!-- build:template
        <meta name="description" content="<%= title %>">
        /build -->

        <!-- build:template
        <meta name="keywords" content="<%= keywords %>">
        /build -->

        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Import webfonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

        <!-- Styles -->
        <!-- build:remove --> 
            <link rel="stylesheet" type="text/css" href="./default.css"  />
        <!-- /build -->
        <!-- build:template 
            <link rel="stylesheet" type="text/css" href="../default.min.css" />
        /build -->
	</head>
	<body>
        <!-- Header -->
        <header class="flex-box header">

            <!-- Logo -->
            <!-- build:remove --> 
                <div><div class="logo" style="background-image:url('./ia.png')"></div></div>
            <!-- /build -->
            <!-- build:template 
                    <div><div class="logo" style="background-image:url('../ia.png')"></div></div>
            /build -->

            <!-- Nav -->
            <nav role="navigation" class="nav flex-box">   
                <!-- build:remove --> 
                    <a class="flex-box" href="./">Overview</a> 
                    <div class="flex-box">|</div>
                    <a class="flex-box" href="./release-notes.html">Release Notes</a>
                    <div class="flex-box">|</div>
                    <a class="flex-box" href="./help.html">Help</a>
                <!-- /build -->
                <!-- build:template 
                    <a class="flex-box" href="../">Overview</a> 
                    <div class="flex-box">|</div>
                    <a class="flex-box" href="./">Release Notes</a>
                    <div class="flex-box">|</div>
                    <a class="flex-box" href="../help/">Help</a></a>
                /build -->
            </nav>

            <!-- Title -->
        </header>

        <!-- Main content -->
        <main class="main">
            <section class="flex-box section">
                <div class="title">Release Notes for InstantAtlas Designer</div>
            </section>
            <section class="flex-box section release-section">
                <div class="flex-box release-header"><div class="flex-box box badge version">0.0.84</div><div class="flex-box box release-date">October 1st 2017 (internal release)</div></div>
                <ul class="list">
                    <li class="flex-box list-item"">
                        <div class="flex-box box badge removed">removed</div><div class="flex-box box description">Crippled save functionality</div><div class="flex-box box bug"><a href="http://bugzilla.geowise.co.uk/"></a></div>
                    </li>
                    <li class="flex-box list-item"">
                        <div class="flex-box box badge removed">removed</div><div class="flex-box box description">Removed map palette menu option</div><div class="flex-box box bug"><a href="http://bugzilla.geowise.co.uk/"></a></div>
                    </li>
                </ul>
            </section>
        </main>
	</body>
</html>