<!doctype html>
<html lang="en">
    <head>
        <!-- build:template
        <title><%= title %></title>
        /build -->

        <!-- build:template 
        <%= banner %> 
        /build -->
        
        <!-- build:template
        <meta name="description" content="<%= title %>">
        /build -->

        <!-- build:template
        <meta name="keywords" content="<%= keywords %>">
        /build -->

        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Font --> 
        <!--link href="//fonts.googleapis.com/css?family=Lato" rel="stylesheet"-->

        <!-- Farbtastic color picker -->
        <link href="./lib/farbtastic/farbtastic.css" rel="stylesheet"/>

        <!-- build:css ./lib/font-awesome-4.7.0/css/font-awesome.min.css -->
        <link rel="stylesheet" type="text/css" href="./lib/font-awesome-4.7.0/css/font-awesome.css"  />
        <!-- /build -->

        <!-- build:css ./lib/bootstrap-3.3.6-dist/css/bootstrap.min.css -->
        <link rel="stylesheet" type="text/css" href="./lib/bootstrap-3.3.6-dist/css/bootstrap.css"  />
        <!-- /build -->

        <!-- build:remove --> 
        <link rel="stylesheet/less" type="text/css" href="./css/default.less" />
        <!-- /build -->
        <!-- build:template 
        <link rel="stylesheet" type="text/css" href="./css/<%= name %>.min.css" />
        /build -->

        <!-- IA report default styling -->
        <link rel="stylesheet" href="./lib/ia/advanced.css" />

        <!-- IA report configurable styling -->
        <link rel="stylesheet/less" type="text/css" href="./lib/ia/default.less" />

        <!-- build:remove --> 
        <script src="//localhost:35729/livereload.js"></script>
        <!-- /build -->
    </head>

    <body>

        <!-- window title bar for frameless window -->
        <div id="iad-window-title-bar-draggable"></div>
        <div id="iad-window-title-bar">
            <div id="iad-window-icon"><img src="./assets/ia.png" /></div>
            <div id="iad-window-title">InstantAtlas Designer</div>
            <div id="iad-window-minimize" class="iad-window-btn">
                <svg aria-hidden="true" version="1.1" width="10" height="10">
                    <path d="M 0,5 10,5 10,6 0,6 Z"></path>
                </svg>
            </div>
            <div id="iad-window-restore" class="iad-window-btn iad-window-btn-hidden">
                <svg aria-hidden="true" version="1.1" width="10" height="10">
                    <path d="m 2,1e-5 0,2 -2,0 0,8 8,0 0,-2 2,0 0,-8 z m 1,1 6,0 0,6 -1,0 0,-5 -5,0 z m -2,2 6,0 0,6 -6,0 z">
                        <svg aria-hidden="true" version="1.1" width="10" height="10">
                            <path d="M 0,0 0,0.7 4.3,5 0,9.3 0,10 0.7,10 5,5.7 9.3,10 10,10 10,9.3 5.7,5 10,0.7 10,0 9.3,0 5,4.3 0.7,0 Z"></path>
                        </svg>
                    </path>
                </svg>
            </div>
            <div id="iad-window-maximize" class="iad-window-btn">
                <svg aria-hidden="true" version="1.1" width="10" height="10">
                    <path d="M 0,0 0,10 10,10 10,0 Z M 1,1 9,1 9,9 1,9 Z"></path>
                </svg>
            </div>
            <div id="iad-window-close" class="iad-window-btn">
                <svg aria-hidden="true" version="1.1" width="10" height="10">
                    <path d="M 0,0 0,0.7 4.3,5 0,9.3 0,10 0.7,10 5,5.7 9.3,10 10,10 10,9.3 5.7,5 10,0.7 10,0 9.3,0 5,4.3 0.7,0 Z"></path>
                </svg>
            </div>
        </div>
        <!-- end window title bar for frameless window -->

        <!-- update available -->
        <div id="iad-update-bar" class="active">
            <div id="iad-update-icon">
                <svg aria-hidden="true" version="1.1" viewBox="0 0 16 16" width="16">
                    <path d="M4 6h3V0h2v6h3l-4 4-4-4zm11-4h-4v1h4v8H1V3h4V2H1c-.55 0-1 .45-1 1v9c0 .55.45 1 1 1h5.34c-.25.61-.86 1.39-2.34 2h8c-1.48-.61-2.09-1.39-2.34-2H15c.55 0 1-.45 1-1V3c0-.55-.45-1-1-1z"></path>
                </svg>
            </div>
            <div id="iad-update-text">
                An updated version of InstantAtlas Designer is available and will be installed at the next launch. See&nbsp;<a class="link-button-component" href="https://online.instantatlas.com/designer/release-notes/">what's new</a>&nbsp;or&nbsp;<a id="iad-restart-now" href="#">restart now</a>
            </div>
            <div id="iad-update-close">
                <svg aria-hidden="true" version="1.1" viewBox="0 0 12 16" width="12">
                    <path d="M7.48 8l3.75 3.75-1.48 1.48L6 9.48l-3.75 3.75-1.48-1.48L4.52 8 .77 4.25l1.48-1.48L6 6.52l3.75-3.75 1.48 1.48z"></path>
                </svg>
            </div>
        </div>
        <!-- end update available -->

        <!-- top nav -->
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div id="navbar">
                    <ul class="nav navbar-nav">

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" role="button">File</a>
                            <ul class="dropdown-menu">
                                <li><a class="iad-menuitem-open" href="#"><i class="fa fa-folder-open-o"></i>&nbsp;&nbsp;Open</a></li>
                                <li><a id="iad-menuitem-save" href="#"><i class="fa fa-floppy-o"></i>&nbsp;&nbsp;Save</a></li>
                                <li role="presentation" class="divider"></li>
                                <li><a id="iad-menuitem-exit" href="#">Exit</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" role="button">Insert</a>
                            <ul class="dropdown-menu">
                                <li><a id="iad-menuitem-insert-text" href="#"><i class="fa fa-text-width"></i>&nbsp;&nbsp;Text</a></li>
                                <li><a id="iad-menuitem-insert-image" href="#"><i class="fa fa-image"></i>&nbsp;&nbsp;Image</a></li>
                                <li><a id="iad-menuitem-insert-button" href="#"><i class="fa fa-square-o"></i>&nbsp;&nbsp;Button</a></li>
                                <li role="presentation" class="divider"></li>
                                <li><a data-sidebar="iad-sidebar-widgetgallery" href="#"><i class="fa fa-bar-chart"></i>&nbsp;&nbsp;Widget</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" role="button">Help</a>
                            <ul class="dropdown-menu">
                                <li><a id="iad-menuitem-about" href="#" data-toggle="modal" data-target="#iad-modal-about">About</a></li>
                            </ul>
                        </li>
                    </ul>

                    <form class="navbar-form navbar-right">
                        <div class="btn-group" data-toggle="buttons"> 
                            <label class="btn btn-default btn-sm active">
                                <input type="radio" name="iad-radio-report-mode" value="design" />Edit
                            </label> 
                            <label class="btn btn-default btn-sm">
                                <input type="radio" name="iad-radio-report-mode" value="published" />Preview
                            </label>                             
                        </div>
                    </form>

                    <form id="iad-nav-widgets" class="navbar-form navbar-right" style="display:none">
                        <div class="btn-group"> 
                            <button id="iad-btn-widget-edit" type="button" class="btn btn-default btn-sm" title="Widget Properties"><i class="fa fa-pencil"></i>&nbsp;Properties</button>
                            <button id="iad-btn-widget-bring-to-front" type="button" class="btn btn-default btn-sm" title="Bring To Front">
                                <span class="fa-stack" style="height: 1em; line-height: 1em;">
                                    <i class="fa fa-square-o fa-stack-1x" style="left: -0.15em;top: -0.15em;"></i>
                                    <i class="fa fa-square fa-stack-1x" style="left: 0.1em;top: 0.1em;"></i>
                                </span>
                            </button>
                            <button id="iad-btn-widget-send-to-back" type="button" class="btn btn-default btn-sm" title="Send To Back">
                                <span class="fa-stack" style="height: 1em; line-height: 1em;">
                                    <i class="fa fa-square fa-stack-1x" style="left: -0.15em;top: -0.15em;"></i>
                                    <i class="fa fa-square fa-inverse fa-stack-1x"></i>
                                    <i class="fa fa-square-o fa-stack-1x" style="left: 0.1em;top: 0.15em;"></i>
                                </span>
                            </button>
                            <button id="iad-btn-widget-remove" type="button" class="btn btn-default btn-sm" title="Remove Widget"><i class="fa fa-trash-o"></i></button>   
                        </div>
                    </form>
                </div> 
            </div>
        </nav>
        <!-- end top nav -->

        <!-- sidebar and report containers -->
        <div id="iad-main">
            <div id="iad-report"></div>

            <div class="iad-sidebar-show-btn flex-box">
                <i class="fa fa-arrow-right"></i>
            </div>

            <!-- start guide sidebar -->
            <div id="iad-sidebar-guide" class="iad-sidebar">
                <div class="iad-sidebar-header">
                    <button type="button" class="close iad-sidebar-close iad-sidebar-close-btn">&times;</button>
                    <div class="iad-sidebar-title">Step-by-step Guide</div>
                </div>
                <div class="iad-sidebar-content">
                    <div class="iad-cards flex-box">
                        <div class="iad-card flex-box iad-menuitem-open">
                            <div class="iad-card-time-line flex-box">
                                <div class="iad-card-number flex-box">1</div>
                                <div class="iad-card-line flex-box"></div>
                            </div>
                            <div class="iad-card-content flex-box">
                                <div class="iad-card-title flex-box">Open a report</div>
                                <div class="iad-card-image-container"><div class="iad-card-image" style="background-image:url('./img/file.png');background-size: contain;"></div></div>
                            </div>
                        </div>
                        <div data-sidebar="iad-sidebar-templategallery" class="iad-card flex-box">
                            <div class="iad-card-time-line flex-box">
                                <div class="iad-card-line-short flex-box"></div>
                                <div class="iad-card-number flex-box">2</div>
                                <div class="iad-card-line flex-box"></div>
                            </div>
                            <div class="iad-card-content flex-box">
                                <div class="iad-card-title flex-box">Choose a template</div>
                                <div class="iad-card-image-container"><div class="iad-card-image" style="background-image:url('./img/template.png')"></div></div>
                            </div>
                        </div>
                        <div data-sidebar="iad-sidebar-colorscheme" class="iad-card flex-box">
                            <div class="iad-card-time-line flex-box">
                                <div class="iad-card-line-short flex-box"></div>
                                <div class="iad-card-number flex-box">3</div>
                                <div class="iad-card-line flex-box"></div>
                            </div>
                            <div class="iad-card-content flex-box">
                                <div class="iad-card-title flex-box">Choose a colour scheme</div>
                                <div class="iad-card-image-container"><div class="iad-card-image" style="background-image:url('./img/colorscheme.png')"></div></div>
                            </div>
                        </div>
                        <div data-sidebar="iad-sidebar-css" class="iad-card flex-box">
                            <div class="iad-card-time-line flex-box">
                                <div class="iad-card-line-short flex-box"></div>
                                <div class="iad-card-number flex-box">4</div>
                                <div class="iad-card-line flex-box"></div>
                            </div>
                            <div class="iad-card-content flex-box">
                                <div class="iad-card-title flex-box">Style the report</div>
                                <div class="iad-card-image-container"><div class="iad-card-image" style="background-image:url('./img/css.png')"></div></div>
                            </div>
                        </div>
                        <div class="iad-card flex-box iad-menuitem-open-color-palettes">
                            <div class="iad-card-time-line flex-box">
                                <div class="iad-card-line-short flex-box"></div>
                                <div class="iad-card-number flex-box">5</div>
                                <div class="iad-card-line flex-box"></div>
                            </div>
                            <div class="iad-card-content flex-box">
                                <div class="iad-card-title flex-box">Pick the legend colours</div>
                                <div class="iad-card-image-container"><div class="iad-card-image" style="background-image:url('./img/mappalettes.png')"></div></div>
                            </div>
                        </div>
                        <div data-sidebar="iad-sidebar-maplayer" class="iad-card flex-box">
                            <div class="iad-card-time-line flex-box">
                                <div class="iad-card-line-short flex-box"></div>
                                <div class="iad-card-number flex-box">6</div>
                            </div>
                            <div class="iad-card-content flex-box">
                                <div class="iad-card-title flex-box">Style the map layers</div>
                                <div class="iad-card-image-container"><div class="iad-card-image" style="background-image:url('./img/maplayers.png')"></div></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end guide sidebar -->

            <!-- start css properties sidebar -->
            <div id="iad-sidebar-css" class="iad-sidebar">
                <div class="iad-sidebar-header">
                    <button type="button" class="close iad-sidebar-close iad-sidebar-close-btn">&times;</button>
                    <div class="iad-sidebar-title"><span class="fa fa-paint-brush"></span>&nbsp;&nbsp;<span>Styles</span></div>
                </div>
                <div class="iad-sidebar-content iad-sidebar-content-with-footer">
                    <div id="iad-form-css-properties">
                        <!-- populated by initCss() -->
                    </div>
                </div>
                <div class="iad-sidebar-footer">
                    <button type="button" class="btn btn-default iad-sidebar-undo-btn"><i class="fa fa-undo"></i>&nbsp;Undo</button>
                    <button type="button" class="btn btn-default iad-sidebar-close-btn"><i class="fa fa-check"></i>&nbsp;Done</button>
                </div>
            </div>
            <!-- end css properties sidebar -->

            <!-- start color scheme sidebar -->
            <div id="iad-sidebar-colorscheme" class="iad-sidebar">
                <div class="iad-sidebar-header">
                    <button type="button" class="close iad-sidebar-close iad-sidebar-close-btn">&times;</button>
                    <div class="iad-sidebar-title"><span class="fa fa-paint-brush"></span>&nbsp;&nbsp;<span>Colour Scheme</span></div>
                </div>
                <!--div class="iad-sidebar-content iad-sidebar-content-with-footer"-->
                <div class="iad-sidebar-content iad-sidebar-content-with-footer">
                    <div id="iad-form-color-scheme">
                        <!-- populated by iadesigner.colorscheme.js -->
                    </div>
                </div>
                <div class="iad-sidebar-footer">
                    <button type="button" class="btn btn-default iad-sidebar-undo-btn"><i class="fa fa-undo"></i>&nbsp;Undo</button>
                    <button type="button" class="btn btn-default iad-sidebar-close-btn"><i class="fa fa-check"></i>&nbsp;Done</button>
                </div>
            </div>
            <!-- end color scheme sidebar -->

            <!-- start widget properties sidebar -->
            <div id="iad-sidebar-widget" class="iad-sidebar">
                <div class="iad-sidebar-header">
                    <button id="" type="button" class="close iad-sidebar-close iad-sidebar-close-btn">&times;</button>
                    <div class="btn-group">  
                        <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="fa fa-fw fa-pencil"></span>&nbsp;&nbsp;<span id="iad-sidebar-widget-title"></span>&nbsp;&nbsp;<span class="caret"></span></button>
                        <ul id="iad-dropdown-widget-properties" class="dropdown-menu">
                            <!-- populated by designer.main.js updateWidgetPropertiesDropdown() -->
                        </ul>          
                    </div> 
                </div>
                <div class="iad-sidebar-content iad-sidebar-content iad-sidebar-content-with-footer">
                    <div id="iad-form-widget-properties">
                        <!-- populated by iadesigner.configforms.js -->
                    </div>
                </div>
                <div class="iad-sidebar-footer">
                    <button type="button" class="btn btn-default iad-sidebar-undo-btn"><i class="fa fa-undo"></i>&nbsp;Undo</button>
                    <button type="button" class="btn btn-default iad-sidebar-close-btn"><i class="fa fa-check"></i>&nbsp;Done</button>
                </div>
            </div>
            <!-- end widget properties sidebar -->

            <!-- start template sidebar -->
            <div id="iad-sidebar-templategallery" class="iad-sidebar">
                <div class="iad-sidebar-header">
                    <button type="button" class="close iad-sidebar-close iad-sidebar-close-btn">&times;</button>
                    <div class="iad-sidebar-title"><span class="fa fa-bar-chart"></span>&nbsp;&nbsp;<span>Templates</span></div>
                </div>
                <div class="iad-sidebar-content iad-sidebar-content-with-footer">
                    <div id="iad-template-gallery">
                        <!-- populated by template-gallery.handlebars -->
                    </div>
                </div>
                <div class="iad-sidebar-footer">
                    <button type="button" class="btn btn-default iad-sidebar-undo-btn"><i class="fa fa-undo"></i>&nbsp;Undo</button>
                    <button type="button" class="btn btn-default iad-sidebar-close-btn"><i class="fa fa-check"></i>&nbsp;Done</button>
                </div>
            </div>
            <!-- end templates sidebar -->

            <!-- start widget gallery sidebar -->
            <div id="iad-sidebar-widgetgallery" class="iad-sidebar">
                <div class="iad-sidebar-header">
                    <button type="button" class="close iad-sidebar-close iad-sidebar-close-btn">&times;</button>
                    <div class="iad-sidebar-title"><span class="fa fa-bar-chart"></span>&nbsp;&nbsp;<span>Widgets</span></div>
                </div>
                <div class="iad-sidebar-content iad-sidebar-content-with-footer">
                    <div id="iad-widget-gallery">
                        <!-- populated by widget-gallery.handlebars -->
                    </div>
                </div>
                <div class="iad-sidebar-footer">
                    <button type="button" class="btn btn-default iad-sidebar-undo-btn"><i class="fa fa-undo"></i>&nbsp;Undo</button>
                    <button type="button" class="btn btn-default iad-sidebar-close-btn"><i class="fa fa-check"></i>&nbsp;Done</button>
                </div>
            </div>
            <!-- end widget gallery sidebar -->

            <!-- start map layer sidebar -->
            <div id="iad-sidebar-maplayer" class="iad-sidebar">
                <div class="iad-sidebar-header">
                    <button type="button" class="close iad-sidebar-close iad-sidebar-close-btn">&times;</button>
                    <div class="iad-sidebar-title"><span class="fa fa-map-o"></span>&nbsp;&nbsp;<span>Map Layers</span></div>
                </div>
                <div class="iad-sidebar-content iad-sidebar-content-with-footer">
                    <div id="iad-form-layer-properties">
                        <!-- populated by iadesigner.mapform.js -->
                    </div>
                </div>
                <div class="iad-sidebar-footer">
                    <button type="button" class="btn btn-default iad-sidebar-undo-btn"><i class="fa fa-undo"></i>&nbsp;Undo</button>
                    <button type="button" class="btn btn-default iad-sidebar-close-btn"><i class="fa fa-check"></i>&nbsp;Done</button>
                </div>
            </div>
            <!-- end map layer sidebar -->

            <!-- start map palettes sidebar -->
            <div id="iad-sidebar-mappalette" class="iad-sidebar">
                <div class="iad-sidebar-header">
                    <button type="button" class="close iad-sidebar-close iad-sidebar-close-btn">&times;</button>
                    <div class="iad-sidebar-title"><span class="fa  fa-paint-brush"></span>&nbsp;&nbsp;<span>Map Palettes</span></div>
                </div>
                <div class="iad-sidebar-content iad-sidebar-content-with-footer">
                    <div id="iad-form-layer-properties">
                        <!-- populated by iadesigner.configforms.js -->
                    </div>

                </div>
                <div class="iad-sidebar-footer">
                    <button type="button" class="btn btn-default iad-sidebar-undo-btn"><i class="fa fa-undo"></i>&nbsp;Undo</button>
                    <button type="button" class="btn btn-default iad-sidebar-close-btn"><i class="fa fa-check"></i>&nbsp;Done</button>
                </div>
            </div>
            <!-- end map palettes sidebar -->

            <!-- start background mapping sidebar -->
            <div id="iad-sidebar-backgroundmapping" class="iad-sidebar">
                <div class="iad-sidebar-header">
                    <button type="button" class="close iad-sidebar-close iad-sidebar-close-btn">&times;</button>
                    <div class="iad-sidebar-title"><span class="fa fa-map-o"></span>&nbsp;&nbsp;<span>Background Mapping</span></div>
                </div>
                <div class="iad-sidebar-content iad-sidebar-content-with-footer">

                </div>
                <div class="iad-sidebar-footer">
                    <button type="button" class="btn btn-default iad-sidebar-undo-btn"><i class="fa fa-undo"></i>&nbsp;Undo</button>
                    <button type="button" class="btn btn-default iad-sidebar-close-btn"><i class="fa fa-check"></i>&nbsp;Done</button>
                </div>
            </div>
            <!-- end background mapping sidebar -->
        </div>
        <!-- end sidebar and report containers -->

        <div id="iad-progress-save" class="iad-progress" style="display:none">
            <div class="iad-progress-mask"></div>
            <div class="iad-progress-spinner"><i class="fa fa-circle-o-notch fa-spin fa-3x"></i></div>
        </div>

        <div id="iad-progress-load" class="iad-progress" >
            <div class="iad-progress-mask"></div>
            <div class="iad-progress-spinner"><i class="fa fa-refresh fa-spin fa-3x"></i></div>
        </div>

        <!-- advanced modal -->
        <div class="modal fade" id="iad-modal-advanced" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Advanced</h4>
                    </div>
                    <div class="modal-body modal-body-scrollable">

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Config</h3>
                            </div>
                            <div class="panel-body">
                                <a id="iad-btn-upload-configxml" type="button" class="iad-btn-upload-config btn btn-default"><span class="fa fa-upload"></span>&nbsp;&nbsp;Upload config.xml</a>
                                <a id="iad-btn-download-configxml" type="button" class="iad-btn-download-config btn btn-default" download="config.xml"><span class="fa fa-download"></span>&nbsp;&nbsp;Download config.xml</a>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Styles</h3>
                            </div>
                            <div class="panel-body">
                                <a id="iad-btn-upload-stylejson" type="button" class="btn btn-default"><span class="fa fa-upload"></span>&nbsp;&nbsp;Upload style.json</a>
                                <a id="iad-btn-download-stylejson" type="button" class="btn btn-default" download="style.json"><span class="fa fa-download"></span>&nbsp;&nbsp;Download style.json</a>
                                <a id="iad-btn-download-defaultcss" type="button" class="btn btn-default" download="default.css"><span class="fa fa-download"></span>&nbsp;&nbsp;Download default.css</a>
                            </div>
                        </div>
                          
                    </div>
                </div>
            </div>
        </div>
        <!-- advanced modal -->

        <!-- about modal -->
        <div class="modal fade" id="iad-modal-about" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body modal-body-scrollable">
                        <div id="iad-app-info">
                            <!-- populated by renderAboutModal() -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- advanced modal -->

        <!-- color picker -->
        <div id="iad-color-picker">
            <div id="iad-color-picker-palette"></div>
            <div class="input-group input-group-sm">
                <span id="iad-color-picker-swatch" class="input-group-addon">&nbsp;&nbsp;</span>
                <input id="iad-color-picker-input" type="text" class="form-control">
            </div>
        </div>
        <!-- end color picker -->

        <!-- Insert this line above script imports https://stackoverflow.com/questions/32621988/electron-jquery-is-not-defined -->
        <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>

        <!-- build:js ./lib/jquery-2.2.3/jquery-2.2.3.min.js -->
        <script src="./lib/jquery-2.2.3/jquery-2.2.3.js"></script>
        <!-- /build -->

        <!-- build:js ./lib/bootstrap-3.3.6-dist/js/bootstrap.min.js -->
        <script src="./lib/bootstrap-3.3.6-dist/js/bootstrap.js"></script>
        <!-- /build -->

        <!-- Makes bootstrap modals easier  -->
        <script src="./lib/bootbox/bootbox.min.js"></script>

        <!-- https://acko.net/blog/farbtastic-jquery-color-picker-plug-in/ for color picker -->
        <script src="./lib/farbtastic/farbtastic.js"></script>

        <!-- https://www.jacklmoore.com/autosize/ for resizing textareas -->
        <script src="./lib/autosize/jquery.autosize.min.js"></script>

        <!-- Sortable code -->
        <script src="./lib/jquery-ui/jquery-ui.min.js"></script>

        <!-- Handlebars for templating -->
        <script src="./lib/handlebars/handlebars.runtime-v4.0.10.js"></script>

        <!-- Less for dynamic css -->
        <!-- build:js ./lib/less.js-2.7.1/dist/less.min.js -->
        <script src="./lib/less.js-2.7.1/dist/less.js"></script>
        <!-- /build -->

        <!-- build:remove --> 
        <!-- js libraries for scrolling -->
        <script src="./ia/lib/iscroll.js"></script>

        <!-- Used to listen for the resize event on elements because jquery resize only works on the window -->
        <script src="./ia/lib/jquery.ba-resize.min.js"></script>

        <!-- Handle floating point values -->
        <script src="./ia/lib/BigDecimal-all-last.min.js"></script>

        <!-- Handle screenshot -->
        <script src="./ia/lib/html2canvas.js"></script>

        <!-- Heat Map -->
        <script src="./ia/lib/heatmap.js"></script>

        <!-- main and util --> 
        <script src="./ia/util.js"></script>
        <script src="./ia/main.js"></script>

        <!-- events -->
        <script src="./ia/events/EventDispatcher.js"></script>
        <script src="./ia/events/Event.js"></script>
        <script src="./ia/events/MouseEvent.js"></script>

        <!-- groups -->
        <script src="./ia/Report.js"></script>
        <script src="./ia/InteractionGroup.js"></script>
        <script src="./ia/DataGroup.js"></script>

        <!-- utils -->
        <script src="./ia/utils/Color.js"></script>
        <script src="./ia/utils/Shape.js"></script>
        <script src="./ia/utils/SvgShape.js"></script>
        <script src="./ia/utils/Formatter.js"></script>
        <script src="./ia/utils/Locale.js"></script>
        <script src="./ia/utils/Statistics.js"></script>
        <script src="./ia/utils/TextSubstitution.js"></script>
        <script src="./ia/utils/UrlParams.js"></script>
        <script src="./ia/utils/BrowserDetect.js"></script>
        <script src="./ia/utils/File.js"></script>
        <script src="./ia/utils/FeatureServiceReader.js"></script>

        <!-- config -->
        <script src="./ia/config/ReportConfig.js"></script>
        <script src="./ia/config/WidgetConfig.js"></script>
        <script src="./ia/config/ComponentConfig.js"></script>
        <script src="./ia/config/PropertyConfig.js"></script>
        <script src="./ia/config/TableConfig.js"></script>
        <script src="./ia/config/ButtonConfig.js"></script>
        <script src="./ia/config/TextConfig.js"></script>
        <script src="./ia/config/ImageConfig.js"></script>
        <script src="./ia/config/PaletteConfig.js"></script>

        <!-- data -->
        <script src="./ia/data/BaseData.js"></script>
        <script src="./ia/data/ReportData.js"></script>
        <script src="./ia/data/Geography.js"></script>
        <script src="./ia/data/Theme.js"></script>
        <script src="./ia/data/Associate.js"></script>
        <script src="./ia/data/Indicator.js"></script>
        <script src="./ia/data/Feature.js"></script>
        <script src="./ia/data/Filter.js"></script>
        <script src="./ia/data/Limits.js"></script>
        <script src="./ia/data/MapData.js"></script>
        <script src="./ia/data/DataEvent.js"></script>
        <script src="./ia/data/FilterEvent.js"></script>
        <script src="./ia/data/DataModel.js"></script>

        <!-- widgets -->
        <script src="./ia/widgets/Widget.js"></script>
        <script src="./ia/widgets/Panel.js"></script>
        <script src="./ia/widgets/Button.js"></script>
        <script src="./ia/widgets/MenuButton.js"></script>
        <script src="./ia/widgets/Text.js"></script>
        <script src="./ia/widgets/Image.js"></script>

        <!-- ui -->
        <script src="./ia/ui/ScrollBox.js"></script>
        <script src="./ia/ui/Explorer.js"></script>
        <script src="./ia/ui/Table.js"></script>
        <script src="./ia/ui/ComparisonTable.js"></script>
        <script src="./ia/ui/LayerList.js"></script>
        <script src="./ia/ui/DiscreteLegend.js"></script>
        <script src="./ia/ui/GradientLegend.js"></script>
        <script src="./ia/ui/Metadata.js"></script>
        <script src="./ia/ui/HTMLContainer.js"></script>
        <script src="./ia/ui/LegendEditor.js"></script>
        <script src="./ia/ui/MapTools.js"></script>
        <script src="./ia/ui/TableTools.js"></script>
        <script src="./ia/ui/AdvancedPieComponent.js"></script>
        <script src="./ia/ui/FeatureLegend.js"></script>
        <script src="./ia/ui/MenuBar.js"></script>
        <script src="./ia/ui/CalloutBox.js"></script>
        <script src="./ia/ui/PrintBar.js"></script>
        <script src="./ia/ui/Profile.js"></script>
        <script src="./ia/ui/ProfileLegend.js"></script>
        <script src="./ia/ui/FeatureCard.js"></script>
        <script src="./ia/ui/TimeControl.js"></script>
        <script src="./ia/ui/TextBox.js"></script>
        <script src="./ia/ui/AreaBreakdownPieComponent.js"></script>
        <script src="./ia/ui/ResponsiveMenu.js"></script>

        <!-- mapping and charts -->
        <script src="./ia/geom/BoundingBox.js"></script>
        <script src="./ia/geom/BBoxEvent.js"></script>
        <script src="./ia/geom/CartesianSpace.js"></script>
        <script src="./ia/geom/Rectangle.js"></script>
        <script src="./ia/geom/Point.js"></script>

        <script src="./ia/charts/ChartTip.js"></script>
        <script src="./ia/charts/CanvasBase.js"></script>
        <script src="./ia/charts/ChartBase.js"></script>
        <script src="./ia/charts/BarChart.js"></script>
        <script src="./ia/charts/PyramidChart.js"></script>
        <script src="./ia/charts/TimeChart.js"></script>
        <script src="./ia/charts/PieChart.js"></script>
        <script src="./ia/charts/BoxChart.js"></script>
        <script src="./ia/charts/TimeBarChart.js"></script>
        <script src="./ia/charts/Plot.js"></script>
        <script src="./ia/charts/StackedTimeChart.js"></script>
        <script src="./ia/charts/RadarChart.js"></script>
        <script src="./ia/charts/GridChart.js"></script>

        <script src="./ia/charts/layers/LayerBase.js"></script>
        <script src="./ia/charts/layers/ItemLayer.js"></script>
        <script src="./ia/charts/layers/TimeLayer.js"></script>
        <script src="./ia/charts/layers/TimeBoxLayer.js"></script>
        <script src="./ia/charts/layers/BarLayer.js"></script>
        <script src="./ia/charts/layers/PyramidLayer.js"></script>
        <script src="./ia/charts/layers/CountLayer.js"></script>
        <script src="./ia/charts/layers/PieLayer.js"></script>
        <script src="./ia/charts/layers/AdvancedPieLayer.js"></script>
        <script src="./ia/charts/layers/BoxLayer.js"></script>
        <script src="./ia/charts/layers/TimeBarLayer.js"></script>
        <script src="./ia/charts/layers/PlotLayer.js"></script>
        <script src="./ia/charts/layers/LineLayer.js"></script>
        <script src="./ia/charts/layers/StackedTimeLayer.js"></script>
        <script src="./ia/charts/layers/StackedBarLayer.js"></script>
        <script src="./ia/charts/layers/StackedFeaturesLayer.js"></script>
        <script src="./ia/charts/layers/ComparisonLineLayer.js"></script>
        <script src="./ia/charts/layers/ComparisonTimeLayer.js"></script>
        <script src="./ia/charts/layers/ComparisonTimeBarLayer.js"></script>
        <script src="./ia/charts/layers/ComparisonPlotLayer.js"></script>
        <script src="./ia/charts/layers/ComparisonPyramidLayer.js"></script>
        <script src="./ia/charts/layers/RadarLayer.js"></script>
        <script src="./ia/charts/layers/ComparisonRadarLayer.js"></script>
        <script src="./ia/charts/layers/GridLayer.js"></script>

        <script src="./ia/maps/MapMouseEvent.js"></script>
        <script src="./ia/maps/Map.js"></script>
        <script src="./ia/maps/GoogleMap.js"></script>
        <script src="./ia/maps/MapController.js"></script>

        <script src="./ia/maps/layers/FeatureLayer.js"></script>
        <script src="./ia/maps/layers/ImageLayer.js"></script>
        <script src="./ia/maps/layers/TileLayer.js"></script>
        <script src="./ia/maps/layers/WebTileLayer.js"></script>
        <script src="./ia/maps/layers/AGSLayer.js"></script>
        <script src="./ia/maps/layers/FeatureServiceLayer.js"></script>
        <script src="./ia/maps/layers/GeoJsonLayer.js"></script>
        <script src="./ia/maps/layers/WMSLayer.js"></script>
        <script src="./ia/maps/layers/MarkerLayer.js"></script>
        <script src="./ia/maps/layers/GeoRSSLayer.js"></script>
        <script src="./ia/maps/layers/GoogleMercatorProjection.js"></script>

        <!-- thematics -->
        <script src="./ia/thematics/ColorPalette.js"></script>
        <script src="./ia/thematics/SizePalette.js"></script>
        <script src="./ia/thematics/BreaksCalculator.js"></script>
        <script src="./ia/thematics/Thematic.js"></script>
        <script src="./ia/thematics/NumericClassifier.js"></script>
        <script src="./ia/thematics/CategoricClassifier.js"></script>
        <script src="./ia/thematics/LegendClass.js"></script>
        <script src="./ia/thematics/NumberClass.js"></script>
        <script src="./ia/thematics/RangeClass.js"></script>
        <script src="./ia/thematics/CategoricClass.js"></script>

        <!-- factories -->
        <script src="./ia/factories/ComponentFactory.js"></script>
        <script src="./ia/factories/ChartFactory.js"></script>
        <script src="./ia/factories/LegendFactory.js"></script>
        <script src="./ia/factories/FeatureLegendFactory.js"></script>
        <script src="./ia/factories/AreaBreakdownBarChartFactory.js"></script>
        <script src="./ia/factories/AreaBreakdownLineChartFactory.js"></script>
        <script src="./ia/factories/AreaBreakdownPieChartFactory.js"></script>
        <script src="./ia/factories/BarChartFactory.js"></script>
        <script src="./ia/factories/BoxAndWhiskerFactory.js"></script>
        <script src="./ia/factories/TimeSeriesFactory.js"></script>
        <script src="./ia/factories/DiscreteTimeSeriesFactory.js"></script>
        <script src="./ia/factories/StackedTimeSeriesFactory.js"></script>
        <script src="./ia/factories/StackedBarFactory.js"></script>
        <script src="./ia/factories/StackedFeaturesFactory.js"></script>
        <script src="./ia/factories/PyramidChartFactory.js"></script>
        <script src="./ia/factories/TimeControlFactory.js"></script>
        <script src="./ia/factories/FeatureCardFactory.js"></script>
        <script src="./ia/factories/MetadataFactory.js"></script>
        <script src="./ia/factories/StatsBoxFactory.js"></script>
        <script src="./ia/factories/AdvancedPieChartFactory.js"></script>
        <script src="./ia/factories/PieChartFactory.js"></script>
        <script src="./ia/factories/DataTableFactory.js"></script>
        <script src="./ia/factories/ComparisonTableFactory.js"></script>
        <script src="./ia/factories/DataExplorerFactory.js"></script>
        <script src="./ia/factories/GeogExplorerFactory.js"></script>
        <script src="./ia/factories/FilterExplorerFactory.js"></script>
        <script src="./ia/factories/MenuBarFactory.js"></script>
        <script src="./ia/factories/ScatterPlotFactory.js"></script>
        <script src="./ia/factories/AreaProfileFactory.js"></script>
        <script src="./ia/factories/MapFactory.js"></script>
        <script src="./ia/factories/TextBoxFactory.js"></script>
        <script src="./ia/factories/RadarFactory.js"></script>
        <script src="./ia/factories/GridChartFactory.js"></script>
        <script src="./ia/factories/DimensionsFactory.js"></script>
        <script src="./ia/factories/DropdownExplorerFactory.js"></script>
        <script src="./ia/factories/interactionGroups.js"></script>
        <!-- /build -->

        <!-- build:template 
        <script src="./lib/ia/ia-min.js"></script>
        /build -->

        <!-- build:remove --> 
        <script src="./js/handlebars.templates.js"></script>
        <script src="./js/iadesigner.defaults.js"></script>
        <script src="./js/iadesigner.main.js"></script>
        <script src="./js/iadesigner.templategallery.js"></script>
        <script src="./js/iadesigner.widgetgallery.js"></script>
        <script src="./js/iadesigner.canvas.js"></script>
        <script src="./js/iadesigner.report.js"></script>
        <script src="./js/iadesigner.config.js"></script>
        <script src="./js/iadesigner.css.js"></script>
        <script src="./js/iadesigner.cssform.js"></script>
        <script src="./js/iadesigner.configforms.js"></script>
        <script src="./js/iadesigner.formcontrols.js"></script>
        <script src="./js/iadesigner.colorpicker.js"></script>
        <script src="./js/iadesigner.colorscheme.js"></script>
        <script src="./js/iadesigner.util.js"></script>
        <script src="./js/iadesigner.file.js"></script>
        <script src="./js/iadesigner.progress.js"></script>
        <script src="./js/iadesigner.win.js"></script>
        <script src="./js/iadesigner.updates.js"></script>
        <script src="./js/iadesigner.usersettings.js"></script>
        <script src="./js/iadesigner.sidebar.js"></script>
        <script src="./js/iadesigner.widgetproperties.js"></script>
        <script src="./js/iadesigner.bootstrap.js"></script>
        <script src="./js/iadesigner.handlers.js"></script>
        <script src="./js/iadesigner.mapjson.js"></script>
        <script src="./js/iadesigner.mapform.js"></script>
        <!-- /build -->

        <!-- build:template 
        <script src="./js/<%= name %>.min.js"></script>
        /build -->

        <!-- Insert this line after script imports https://stackoverflow.com/questions/32621988/electron-jquery-is-not-defined  -->
        <script>if (window.module) module = window.module;</script>

        <script type="text/javascript">
            var $j = jQuery.noConflict();
            $j(document).ready(function()
            {
                iadesigner.init();
            });
        </script>
    </body>
</html>
